In [4]:
import pandas as pd

import numpy as np

import matplotlib.pyplot as plt

DataFrame returns a table like data format

In [5]:
pd.DataFrame(np.random.randn(6,4), index=list('123456'), columns=list('ABCD'))

          A         B         C         D
1  0.925903  0.759078  0.825961 -0.845775
2  0.477281 -1.003875  0.052313  0.172445
3 -0.228804 -1.298296 -0.238812 -1.535275
4 -0.941958  0.830209 -0.343692 -0.406662
5  0.159589  0.393832 -0.149212  1.440790
6  0.157302 -0.152311  0.444922 -0.591843